<div id="new_task">
<%= form_for(:task, :url=>{:action=>'add', :controller=>"tasks"}, :remote=>true) do |f| %>
	<table>
		<tr>
			<td>Title</td>
			<td><%= f.text_field(:title, :class=>"form-control") %></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><%= f.text_field(:content, :class=>"form-control") %></td>
		</tr>
		<tr style="display:none">
			<td><%= f.hidden_field(:is_use) %></td>
		</tr>
		<tr>
			<td></td>
			<td>
					<div class="form-button">
		<%= submit_tag("Add task", :class=>"form-control btn btn-primary", 
		:style=>"width:200px") %>
	</div>
				
			</td>
		</tr>
		
	</table>

<% end %>
</div>