$(function(){

	var is_completed = '<%= @task.is_use %>';
	if(is_completed == false || is_completed == 'false')	{
		$("#_incomplete_task_<%=@task.id%>").remove();
	
		$("#complete_tasks").append('<span id="_complete_task_<%= @task.id%>"><h4 class="complete" id="complete_task_<%= @task.id%>">'
		+'<%= @task.title + ":" + @task.content %>'
		+'<%= link_to("remove",{:action=>"remove", :cotroller=>"tasks", :id=>@task.id, :is_use=>0}, :remote=>true) %></h4></span>');
	}
	else{
	$("#_complete_task_<%= @task.id%>").remove();
	$("#incomplete_tasks").append('<span id="_incomplete_task_<%= @task.id%>"><h4 class="incomplete" '
		+'id="incomplete_task_<%= @task.id%>">'
		+'<%= @task.title + ":" + @task.content %>'
		+'<%= link_to("update",{:action=>"update", :cotroller=>"tasks", :id=>@task.id, :is_use=>0}, :remote=>true) %></h4></span>');
	}
	
})